.main {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg,rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 100%), url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png') no-repeat center;
  background-size: cover;
}