.about {
  width: 100%;
  display: flex;
  padding: 80px 6.5rem;
  box-sizing: border-box;
}

.about__pic {
  border-radius: 1000px;
  width: 464px;
  height: 464px;
}

.about__info {
  margin: 50px 40px 0 56px;
}

.about__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0 0 24px;
}

.about__text {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 18px;
}

@media screen and (max-width: 1440px) {
  .about {
    padding: 2.5rem;
  }
  .about__pic {
    width: 232px;
    height: 232px;
    margin: 20px 0;
  }
  .about__info {
    margin: 0 0 0 2rem;
    height: min-content;
    align-self: center;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 1rem;
  }
}

@media screen and (max-width: 700px) {
  .about {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }
  .about__info {
    margin: 0;
    height: min-content;
    align-self: center;
  }
  .about__pic {
    max-width: 300px;
    max-height: 300px;
  }
}