.preloader {
	margin: 0;
	width: 100%;
	background-color: #efefef;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.preloader__icon {
	display: block;
	width: 74px;
	height: 74px;
	border: 3px solid #ccc;
	border-bottom-color: #777;
	
	border-radius: 50%;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 20px;
	margin: auto;
	
	animation: spin .85s infinite cubic-bezier(.21,.73,.63,.44);
}

.preloader__notfound {
	background-color: none;
	color: #1a1b22;
	font-family: 'Roboto Slab', serif;
	font-size: 26px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
	margin: 32px 0 16px;
}

.preloader__notfound-icon {
	font-size: 96px;
	align-self: center;
	margin-top: 80px;
	color: #b6bcbf;
}

.preloader__notfound-text {
	background-color: none;
	color: #aaa;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	margin: 0 0 80px;
	max-width: 370px;
	align-self: center;
}

.preloader__text {
	background-color: none;
	color: #b6bcbf;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	margin: 180px 0 80px;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}