.searchbar {
  display: flex;
  height: 64px;
  width: 608px;
  margin-bottom: 80px;
  background-color: #fff;
  align-self: center;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  border-radius: 100px;
}

.searchbar__text {
  margin: 0 auto 0 24px;
  width: 100%;
  border: none;
  font-size: 16px;
  line-height: 22px;
}

.searchbar__text:focus {
  outline: none;
}

.searchbar__button {
  border: none;
  position: relative;
  right: -2px;
  top: -1px;
  height: 64px;
  background-color: #2f71e5;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 0 56px;
  color: #fff;
  width: 168px;
  border-radius: 100px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.4);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.searchbar__button:focus {
  outline: none;
}

.searchbar__button:hover {
  background-color: #347eff;
}

.searchbar__button:active {
  background-color: #2a65cc;
}

.searchbar__button_disabled {
  background-color: #8eb7ff;
  cursor: default;
}

.searchbar__button_disabled:hover {
  background-color: #8eb7ff;
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .searchbar {
    max-width: 450px;
    height: 56px;
    margin: 0 0 48px;
  }
  .searchbar__button {
    height: 56px;
    width: 160px;
  }
}

@media screen and (max-width: 500px) {
  .searchbar {
    width: calc(100% - 2rem);
    height: 56px;
    margin: auto 0 16px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  .searchbar__text {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
  }
  .searchbar__button {
    position: relative;
    top: 0;
    left: 1rem;
    height: 56px;
    width: calc(100% - 2rem);
    margin-bottom: 32px;
  }
}