.footer {
  height: 80px;
  display: flex;
  padding: 0 6.5rem;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.footer__copyright {
  display: flex;
  color: #b6bcbf;
  font-size: 16px;
  line-height: 22px;
  margin-right: auto;
}

.footer__link {
  font-size: 18px;
  line-height: 24px;
  min-width: 112px;
  text-align: center;
  color: #1a1b22;
  text-decoration: none;
  cursor: pointer;
}

.footer__icon {
  font-size: 20px;
  color: #191717;
  margin-left: 42px;
}

.footer__icon:last-of-type {
  margin-left: 28px;
}

.footer__mobile {
  display: flex;
  width: 100%;
}

.footer__links {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  justify-content: left;
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 20px 1rem 0;
    flex-direction: column;
  }
  .footer__link {
    text-align: left;
    padding-bottom: 24px;
  }
  .footer__copyright {
    padding-bottom: 22px;
  }
  .footer__icon {
    margin-left: 28px;
  }
}