.newsCardList {
  padding: 0 6.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: #efefef;
  align-items: center;
}

.newsCardList__title {
  font-family: 'Roboto Slab', serif;
  align-self: flex-start;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  margin: 80px 0 0;
}

.newsCardList__container {
  width: 100%;
  margin: 64px 0;
  display: grid;
  max-width: 1232px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.newsCardList__btn {
  width: 288px;
  height: 64px;
  border-radius: 80px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  margin: 0 0 80px;
  box-shadow: 0 3px 5px 2px rgba(8, 29, 45, .05);
  transition: .3s ease;
}

.newsCardList__btn:focus {
  outline: none;
}

.newsCardList__btn:hover {
  background-color: #efefef;
  box-shadow: 0 3px 5px 2px rgba(8, 29, 45, .15);
}

@media screen and (min-width: 701px) and (max-width: 1440px) {
  .newsCardList {
    padding: 0 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .newsCardList__title {
    margin: 40px 0 0;
    font-size: 30px;
    line-height: 34px;
  }
  .newsCardList__container {
    margin: 32px 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
    justify-items: center;
  }
  .newsCardList__btn {
    width: 240px;
    height: 56px;
    margin: 0 0 40px;
  }
}

@media screen and (max-width: 700px) {
  .newsCardList {
    padding: 0 1rem;
  }
  .newsCardList__title {
    margin: 32px 0 0;
  }
  .newsCardList__btn {
    margin: 0 0 32px;
  }
}

@media screen and (max-width: 450px) {
  .newsCardList__container {
    grid-template-columns: 1fr;
    margin: 58px 0 16px;
  }
}